/*/ Tags */

body {
  background-color: rgb(10, 2, 27);
}

p,
div,
span {
  color: white;

  font-family: Helvetica, Arial, Sans-serif;

  margin: 0;
}

p,
div,
span,
input,
button {
  font-size: 20px;
}

input,
button {
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*/ END - Tags */