body {
  background-color: rgb(10, 2, 27);
  color: white;
  font-size: 25px;

  font-family: Helvetica;
  margin-left:25px;
}

/*button {
  width: 150px;
  height: 60px;
  font-size: 22px;
}*/

.title {
  font-size: 35px;
}

.hand-icon {
  height: 50px;
}

.hands button {
  background-color: transparent;
  border: 3px solid white;

  width: 150px;
  height: 150px;
  border-radius: 75px;

  margin-right: 10px;
  cursor: pointer;
}

.with-topmargin {
  margin-top: 10px;
}